* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

a,
li,
ul,
input,
button {
  text-decoration: none;
  list-style-type: none;
  border: none;
  outline: none;
}

.container {
  max-width: 1321px;
  padding: 0 24px;
  margin: auto;
}

body {
  background-color: #fff;
}

.cards {
  padding-top: 60px;
  padding-bottom: 86px;
}

.cards--title {
  text-align: center;
  margin-bottom: 51px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}

.cards__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__wraper__card--img {
  font-size: 24px;
  margin-bottom: 16px;
}

.card__wraper__card--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}

.card__wraper__card--text {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 270px; /* 24px */
}

@media screen and (max-width: 1024px) {
  .card__wraper__card--title {
    font-size: 18px;
  }
  .card__wraper__card--text {
    font-size: 13px;
    max-width: 240px; /* 24px */
  }
  .cards__wraper {
    flex-wrap: wrap;
    gap: 36px;
  }
}
@media screen and (max-width: 770px) {
  .cards {
    padding-top: 48px;
    padding-bottom: 45px;
  }
  .cards--title {
    font-size: 20px;
    text-align: start;
  }
  .card__wraper__card--text {
    font-size: 14px;
  }
  .card__wraper__card--title {
    font-size: 16px;
  }
}
.cremes {
  margin-top: 80px;
}

.cremes-title {
  color: #2a254b;
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 33px;
}

.cremes__wraper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cremes--img {
  margin-bottom: 24px;
}

.cremes--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}

.cremes--text {
  color: #2a254b;
  font-size: 18px;
  font-weight: 400;
  line-height: 150%; /* 27px */
}

.cremes--btn {
  background: #f9f9f9;
  padding: 16px 32px;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1300px) {
  .cremes--img {
    width: 250px;
    object-fit: cover;
  }
  .cremes {
    margin-top: 0;
  }
}
@media screen and (max-width: 1080px) {
  .cremes--img {
    width: 200px;
    object-fit: cover;
  }
  .cremes__wraper {
    flex-wrap: wrap;
    gap: 16px;
  }
}
@media screen and (max-width: 885px) {
  .cremes--img {
    width: 163px;
    height: 201px;
    object-fit: cover;
  }
  .cremes-title {
    font-size: 20px;
    margin-bottom: 19px;
  }
}
@media screen and (max-width: 410px) {
  .cremes__wraper {
    gap: 10px;
  }
  .cremes--btn {
    width: 300px;
  }
  .cremes--img {
    width: 150px;
    object-fit: cover;
    height: 180px;
  }
  .cremes--title {
    font-size: 18px;
  }
  .cremes--text {
    font-size: 14px;
  }
}
.inputs {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding-top: 52px;
  padding-bottom: 65px;
}

.inputs__wraper {
  padding-top: 68px;
  padding-bottom: 54px;
  background-color: #fff;
}

.inputs--title {
  color: #2a254b;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%; /* 50.4px */
  margin-bottom: 16px;
}

.inputs--text {
  color: #2a254b;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 470px;
  margin: auto;
}

.inputs__wrap {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs--input {
  padding: 17px 205px 17px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
}

.inputs--btn {
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  height: 56px;
  cursor: pointer;
}

@media screen and (max-width: 770px) {
  .inputs {
    margin-top: 38px;
    padding-top: 48px;
    padding-bottom: 36px;
    background-color: #fff;
  }
  .inputs__wraper {
    padding: 0;
  }
  .inputs--title {
    margin: 0;
    font-size: 20px;
  }
  .inputs--text {
    max-width: 320px;
    font-size: 13px;
  }
  .inputs__wrap {
    margin-top: 64px;
  }
  .inputs--input {
    padding: 17px 6px 17px 25px;
    font-size: 10px;
  }
  .inputs--btn {
    font-size: 10px;
    padding: 16px 40px;
  }
}
.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;
}

.footer__wraper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.footer__info {
  display: flex;
  gap: 150px;
}

.footer__info__wraper {
  display: flex;
  gap: 109px;
}

.footer__info__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer__info__links--link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer__inputs--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}

.footer__inputs__wraper {
  display: flex;
}

.footer--input {
  padding: 17px 200px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}

.footer--btn {
  cursor: pointer;
  background: #fff;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 16px 32px;
}

.footer--line {
  background: #4e4d93;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 24px;
}

.footer__bootom__icons {
  display: flex;
  justify-content: space-between;
}

.footer__bootom__icons--text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.footer__bootom__icons__wraper {
  display: flex;
  gap: 24px;
}

.footer__bootom__icons__wraper--icon {
  font-size: 24px;
}

@media screen and (max-width: 1200px) {
  .footer__info {
    gap: 100px;
  }
  .footer__info__wraper {
    gap: 59px;
  }
  .footer--input {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1024px) {
  .footer--input {
    padding: 17px 50px 17px 32px;
    font-size: 12px;
  }
  .footer__info {
    gap: 70px;
  }
  .footer__info__wraper {
    gap: 49px;
  }
}
@media screen and (max-width: 870px) {
  .footer__wraper {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__info {
    gap: 150px;
  }
  .footer__info__wraper {
    gap: 100px;
  }
}
@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer__info {
    gap: 30px;
    flex-direction: column;
  }
  .footer__info__wraper {
    justify-content: space-between;
  }
  .footer--line {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .footer__bootom__icons__wraper--icon {
    display: none;
  }
  .footer__bootom__icons--text {
    margin: auto;
  }
  .footer--input {
    padding: 17px 55px 17px 32px;
  }
  .footer--btn {
    font-size: 11px;
  }
}
@media screen and (max-width: 450px) {
  .footer--input {
    padding: 17px 30px 17px 32px;
    font-size: 11px;
  }
}
@media screen and (max-width: 375px) {
  .footer--input {
    padding: 17px 10px 17px 32px;
    font-size: 11px;
  }
}
.nav__top {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  display: flex;
  justify-content: end;
  background: #2a254b;
  gap: 447px;
  align-items: center;
}

.nav__top__left {
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav__top--text {
  color: #fff;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 400;
}

.nav--img-2 {
  color: #fff;
  cursor: pointer;
}

.nav__bottom__wrap {
  padding: 29px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__bottom--title {
  color: #22202e;
  font-size: 24px;
  font-weight: 400;
}

.nav__bottom__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}

.nav--links {
  color: #726e8d;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nav__bottom__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.nav__bottom__icons--icon-none {
  display: none;
}

@media screen and (max-width: 1024px) {
  .nav__top {
    gap: 250px;
  }
  .nav__bottom__links {
    gap: 20px;
  }
}
@media screen and (max-width: 765px) {
  .nav__bottom__links {
    display: none;
  }
  .nav__bottom__icons--icon-none {
    display: block;
  }
  .nav__top {
    gap: 0;
    justify-content: space-between;
    padding: 20px;
  }
  .nav__top--text {
    max-width: 294px;
  }
}
.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}

.hero--img {
  object-fit: cover;
  width: 600px;
}

.hero__info {
  display: flex;
  flex-direction: column;
}

.hero__info--title {
  margin-bottom: 13px;
  color: #2a254b;
  font-size: 36px;
  font-weight: 400;
}

.hero__info--text {
  color: #12131a;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 54px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.description--title {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
}

.description--text {
  max-width: 498px;
  color: #505977;
  font-size: 16px;
  font-weight: 400;
}

.description__items {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  gap: 5px;
  margin-bottom: 50px;
}

.description__items--item {
  color: #505977;
  font-size: 16px;
  font-weight: 400;
  list-style-type: disc;
}

.dimensions {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}

.dimensions--title {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}

.dimensions__top {
  display: flex;
  gap: 58px;
  margin-bottom: 12px;
}

.pdimensions__top--text {
  color: #2a254b;
  font-size: 14px;
  font-weight: 400;
}

.quanitfiy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quanitfiy__left {
  display: flex;
  align-items: center;
  gap: 22px;
}

.quanitfiy__left--text {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
}

.quanitfiy__left--img {
  width: 122px;
  object-fit: cover;
}

.quanitfiy--btn {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: #2a254b;
  padding: 16px 32px;
}

@media screen and (max-width: 1200px) {
  .hero--img {
    object-fit: cover;
    width: 500px;
  }
  .description--text {
    max-width: 400px;
  }
  .hero__info--title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .hero__info--text {
    margin-bottom: 30px;
  }
  .description__items {
    margin-bottom: 20px;
  }
  .dimensions--title {
    margin-bottom: 10px;
  }
  .dimensions {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  .hero__wrap {
    flex-direction: column;
    align-items: start;
    gap: 28px;
  }
  .hero--img {
    width: 100%;
    height: 600px;
    display: block;
  }
  .description--text {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .hero--img {
    height: auto;
  }
  .description__items--item {
    font-size: 14px;
  }
  .description--text {
    font-size: 14px;
  }
  .quanitfiy {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  .quanitfiy--btn {
    width: 100%;
  }
  .quanitfiy__left--text {
    display: none;
  }
}

/*# sourceMappingURL=main.css.map */
