.cards {
  padding-top: 60px;
  padding-bottom: 86px;
}
.cards--title {
  text-align: center;
  margin-bottom: 51px;
  color: #2a254b;
  font-size: 24px;
  font-weight: 400;
  line-height: 140%; /* 33.6px */
}
.cards__wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__wraper__card--img {
  font-size: 24px;
  margin-bottom: 16px;
}
.card__wraper__card--title {
  color: #2a254b;
  font-size: 20px;
  font-weight: 400;
  line-height: 140%; /* 28px */
  margin-bottom: 8px;
}
.card__wraper__card--text {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  max-width: 270px; /* 24px */
}
@media screen and (max-width: 1024px) {
  .card__wraper__card--title {
    font-size: 18px;
  }
  .card__wraper__card--text {
    font-size: 13px;
    max-width: 240px; /* 24px */
  }
  .cards__wraper {
    flex-wrap: wrap;
    gap: 36px;
  }
}
@media screen and (max-width: 770px) {
  .cards {
    padding-top: 48px;
    padding-bottom: 45px;
  }
  .cards--title {
    font-size: 20px;
    text-align: start;
  }
  .card__wraper__card--text {
    font-size: 14px;
  }
  .card__wraper__card--title {
    font-size: 16px;
  }
}
