.footer {
  background: #2a254b;
  padding-top: 58px;
  padding-bottom: 22px;
}
.footer__wraper {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.footer__info {
  display: flex;
  gap: 150px;
}
.footer__info__wraper {
  display: flex;
  gap: 109px;
}
.footer__info__links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__info__links--link {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer__inputs--text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 16px;
}
.footer__inputs__wraper {
  display: flex;
}
.footer--input {
  padding: 17px 200px 17px 32px;
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
  font-size: 16px;
  font-weight: 400;
}
.footer--btn {
  cursor: pointer;
  background: #fff;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  padding: 16px 32px;
}
.footer--line {
  background: #4e4d93;
  height: 1px;
  margin-top: 48px;
  margin-bottom: 24px;
}
.footer__bootom__icons {
  display: flex;
  justify-content: space-between;
}
.footer__bootom__icons--text {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
}
.footer__bootom__icons__wraper {
  display: flex;
  gap: 24px;
}
.footer__bootom__icons__wraper--icon {
  font-size: 24px;
}
@media screen and (max-width: 1200px) {
  .footer__info {
    gap: 100px;
  }
  .footer__info__wraper {
    gap: 59px;
  }
  .footer--input {
    padding: 17px 100px 17px 32px;
  }
}
@media screen and (max-width: 1024px) {
  .footer--input {
    padding: 17px 50px 17px 32px;
    font-size: 12px;
  }
  .footer__info {
    gap: 70px;
  }
  .footer__info__wraper {
    gap: 49px;
  }
}
@media screen and (max-width: 870px) {
  .footer__wraper {
    flex-direction: column;
    justify-content: space-between;
  }
  .footer__info {
    gap: 150px;
  }
  .footer__info__wraper {
    gap: 100px;
  }
}
@media screen and (max-width: 770px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  .footer__info {
    gap: 30px;
    flex-direction: column;
  }
  .footer__info__wraper {
    justify-content: space-between;
  }
  .footer--line {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  .footer__bootom__icons__wraper--icon{
    display: none;
  }
  .footer__bootom__icons--text{
    margin: auto;
  }
  .footer--input{
    padding: 17px 55px 17px 32px;
  }
  .footer--btn{
    font-size: 11px;
  }
}
@media screen and (max-width: 450px){
    .footer--input{
        padding: 17px 30px 17px 32px;
        font-size: 11px;
      }   
}
@media screen and (max-width: 375px){
    .footer--input{
        padding: 17px 10px 17px 32px;
        font-size: 11px;
      }   
}