.hero__wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 48px;
}
.hero--img {
  object-fit: cover;
  width: 600px;
}
.hero__info {
  display: flex;
  flex-direction: column;
}
.hero__info--title {
  margin-bottom: 13px;
  color: #2a254b;
  font-size: 36px;
  font-weight: 400;
}
.hero__info--text {
  color: #12131a;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 54px;
}
.description {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.description--title {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
}
.description--text {
  max-width: 498px;
  color: #505977;
  font-size: 16px;
  font-weight: 400;
}
.description__items {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 20px;
  gap: 5px;
  margin-bottom: 50px;
}
.description__items--item {
  color: #505977;
  font-size: 16px;
  font-weight: 400;
  list-style-type: disc;
}
.dimensions {
  display: flex;
  flex-direction: column;
  margin-bottom: 34px;
}
.dimensions--title {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 28px;
}
.dimensions__top {
  display: flex;
  gap: 58px;
  margin-bottom: 12px;
}
.pdimensions__top--text {
  color: #2a254b;
  font-size: 14px;
  font-weight: 400;
}
.quanitfiy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quanitfiy__left {
  display: flex;
  align-items: center;
  gap: 22px;
}
.quanitfiy__left--text {
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
}
.quanitfiy__left--img {
  width: 122px;
  object-fit: cover;
}
.quanitfiy--btn {
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  background: #2a254b;
  padding: 16px 32px;
}
@media screen and (max-width: 1200px) {
  .hero--img {
    object-fit: cover;
    width: 500px;
  }
  .description--text {
    max-width: 400px;
  }
  .hero__info--title {
    margin-bottom: 10px;
    font-size: 30px;
  }
  .hero__info--text {
    margin-bottom: 30px;
  }
  .description__items {
    margin-bottom: 20px;
  }
  .dimensions--title {
    margin-bottom: 10px;
  }
  .dimensions {
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 992px) {
  .hero__wrap {
    flex-direction: column;
    align-items: start;
    gap: 28px;
  }
  .hero--img {
    width: 100%;
    height: 600px;
    display: block;
  }
  .description--text {
    max-width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .hero--img {
    height: auto;
  }
  .description__items--item {
    font-size: 14px;
  }
  .description--text {
    font-size: 14px;
  }
  .quanitfiy {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
  }
  .quanitfiy--btn{
    width: 100%;
  }
  .quanitfiy__left--text{
    display: none;
  }
}
