.inputs {
  margin-top: 40px;
  background-color: #f9f9f9;
  padding-top: 52px;
  padding-bottom: 65px;
}
.inputs__wraper {
  padding-top: 68px;
  padding-bottom: 54px;
  background-color: #fff;
}
.inputs--title {
  color: #2a254b;
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  line-height: 140%; /* 50.4px */
  margin-bottom: 16px;
}
.inputs--text {
  color: #2a254b;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  max-width: 470px;
  margin: auto;
}
.inputs__wrap {
  margin-top: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputs--input {
  padding: 17px 205px 17px 32px;
  background: #f9f9f9;
  color: #2a254b;
  font-size: 16px;
  font-weight: 400;
  height: 56px;
}
.inputs--btn {
  padding: 16px 32px;
  background: #2a254b;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
  height: 56px;
  cursor: pointer;
}
@media screen and (max-width: 770px) {
  .inputs {
    margin-top: 38px;
    padding-top: 48px;
    padding-bottom: 36px;
    background-color: #fff;
  }
  .inputs__wraper {
    padding: 0;
  }
  .inputs--title {
    margin: 0;
    font-size: 20px;
  }
  .inputs--text {
    max-width: 320px;
    font-size: 13px;
  }
  .inputs__wrap {
    margin-top: 64px;
  }
  .inputs--input {
    padding: 17px 6px 17px 25px;
    font-size: 10px;
  }
  .inputs--btn {
    font-size: 10px;
    padding: 16px 40px;
  }
}
