.nav__top {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 12px;
  display: flex;
  justify-content: end;
  background: #2a254b;
  gap: 447px;
  align-items: center;
}
.nav__top__left {
  display: flex;
  gap: 5px;
  align-items: center;
}
.nav__top--text {
  color: #fff;
  font-family: Satoshi;
  font-size: 14px;
  font-weight: 400;
}
.nav--img-2 {
  color: #fff;
  cursor: pointer;
}
.nav__bottom__wrap {
  padding: 29px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__bottom--title {
  color: #22202e;
  font-size: 24px;
  font-weight: 400;
}
.nav__bottom__links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 44px;
}
.nav--links {
  color: #726e8d;
  font-family: Satoshi;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nav__bottom__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}
.nav__bottom__icons--icon-none {
    display: none;
}
@media screen and (max-width:1024px) {
    .nav__top {
        gap:250px;
    }
    .nav__bottom__links {
        gap: 20px;
      }
}
@media screen and (max-width:765px){
    .nav__bottom__links {
        display: none;
      }
      .nav__bottom__icons--icon-none{
        display: block;
      }
      .nav__top {
        gap:0;
        justify-content: space-between;
        padding: 20px ;
    }
    .nav__top--text{
        max-width: 294px;
    }
} 